h6, h4 {
    color: #114b5f;
}

.container-page-story {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #d3d3d3;
}

.heading {
    color: #114b5f;
}

.fa-heart {
    color: #000000;
    -webkit-text-fill-color: #ffffff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
    font-size: 18px;
    padding: 15px;
    cursor: pointer;
}

.fa-heart .active {
    color: #e41515;
    -webkit-text-fill-color: #ffffff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
    font-size: 18px;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.tag-name {
    background-color: #d3d3d3;
    border-radius: 0.25rem;
    padding: 2px 5px;
    margin-right: 10px;
}

.container-chapter-story {
    border: 1px solid #d3d3d3;
    border-radius: 0.25rem;
    margin-bottom: 10px;
}

.form-contents {
    border: 1px solid #d3d3d3;
    border-radius: 0.25rem;
    margin-bottom: 10px;
    display: block;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.chapter-heading {
    margin-top: 8px;
    color: #114b5f;
}

.chapter-text {
    margin: 0px 15px;
    color: #114b5f;
}

.chapter-heading-link, .chapter-heading-link:hover{
    color: #114b5f;
    margin-top: 5px;
    font-size: 20px;
    text-decoration: none;
} 

.user-name {
    font-size: 16px;
    margin-bottom: 5px;
}

.update-date {
    font-size: 12px;
    margin-bottom: 0px;
}

.tool-bar {
    margin-top: 10px;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-comments {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start; 
    padding: 15px;
    border: 1px solid #d3d3d3;
}

.comment {
    width: 100%;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #d3d3d3;
    border-radius: 0.25rem;
    display: flex;
    align-items: start;
}

.comment-text {
    color: #114b5f;
}

.comment-add-date {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 12px;
}

.form-btn-comments {
    height: 40px;
    margin-top: 10px;
}