.container-add-story-btn {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid #d3d3d3;
}

.add-story-btn {
    height: 40px;
    width: 100%;
}

.add-story-link, .add-story-link:hover {
    width: 100%;
    color: #f3e9d2;
    text-decoration: none;
}

.add-story-btn-disabled {
    width: 100%;
}