.form-chapter {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start; 
    padding: 10px 10px 10px 10px;
}

.form-btn-add-chapter {
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}