p {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-right: 30px;
    padding: 20px 20px 20px 20px;
    border: 1px solid #d3d3d3;
}

.form-input {
    width: 250px;
    height: 40px;
    margin-bottom: 10px;
}

.form-btn {
    width: 250px;
    height: 40px;
    margin-top: 10px;
}

.form-link {
    display: block;
    color: blue;
    text-align: center;
    margin-top: 10px;
    text-decoration: underline;
}